<configuration>
   <configSections>
      <sectionGroup name="spring">
         <section name="context"
            type="Spring.Context.Support.ContextHandler,
                  Spring.Core" />
         <section name="objects"
            type="Spring.Context.Support.DefaultSectionHandler,
                  Spring.Core" />
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
   </configSections>

   <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger (%line) - %message%newline"/>
         </layout>
      </appender>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="E:\ProMigSITTEG\Log\pms.log"/>
         <appendToFile value="true"/>
         <preserveLogFileNameExtension value="true"/>
         <rollingStyle value="Composite"/>
         <datePattern value=".yyyyMMdd"/>
         <maximumFileSize value="5MB"/>
         <countDirection value="1"/>
         <maxSizeRollBackups value="-1"/>
         <staticLogFileName value="false"/>
         <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger (%line) - %message%newline"/>
         </layout>
      </appender>
      <root>
         <level value="DEBUG"/>
         <appender-ref ref="RollingFileAppender" />
      </root>
  </log4net>

   <spring>
      <context>
         <resource uri="config://spring/objects"/>
      </context>
      <objects xmlns="http://www.springframework.net">

         <object id="dbReaderConfigurer" type="MxGobGuanajuato.Cnfs.DBReaderConfigurer" init-method="Init" destroy-method="Close" singleton="true">
             <constructor-arg name="cnnStr" value="User Id = admin; Password = FADaHHES4SvfLVQMzBqz; Data Source = sitteg.clbqo6uvirz5.us-east-1.rds.amazonaws.com:1521/orcl; Min Pool Size=2; Connection Lifetime=120; Connection Timeout=60; Incr Pool Size=5; Decr Pool Size=2"/>
         </object>

         <object id="dbWriterConfigurer" type="MxGobGuanajuato.Cnfs.DBWriterConfigurer" init-method="Init" destroy-method="Close" singleton="true">
             <constructor-arg name="cnnStr" value="User Id = Soporte; Password = Seguritech123; Data Source = 10.16.158.17; Initial Catalog = sregina; Min Pool Size=2; Max Pool Size=10;TrustServerCertificate=true"/>
         </object>

         <object id="cadenaRReaderDAO" type="MxGobGuanajuato.Daos.CadenaRReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="cadenaWReaderDAO" type="MxGobGuanajuato.Daos.CadenaWReaderDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="catMotivosInfraccionReaderDAO" type="MxGobGuanajuato.Daos.CatMotivosInfraccionReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="catMotivosInfraccionWriterDAO" type="MxGobGuanajuato.Daos.CatMotivosInfraccionWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="motivosInfraccionReaderDAO" type="MxGobGuanajuato.Daos.MotivosInfraccionReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="motivosInfraccionWriterDAO" type="MxGobGuanajuato.Daos.MotivosInfraccionWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="infraccionesReaderDAO" type="MxGobGuanajuato.Daos.InfraccionesReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="infraccionesWriterDAO" type="MxGobGuanajuato.Daos.InfraccionesWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="personasInfraccionesReaderDAO" type="MxGobGuanajuato.Daos.PersonasInfraccionesReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="personasInfraccionesWriterDAO" type="MxGobGuanajuato.Daos.PersonasInfraccionesWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="personasReaderDAO" type="MxGobGuanajuato.Daos.PersonasReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="personasWriterDAO" type="MxGobGuanajuato.Daos.PersonasWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="personasDireccionesReaderDAO" type="MxGobGuanajuato.Daos.PersonasDireccionesReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="personasDireccionesWriterDAO" type="MxGobGuanajuato.Daos.PersonasDireccionesWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="vehiculosReaderDAO" type="MxGobGuanajuato.Daos.VehiculosReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="vehiculosWriterDAO" type="MxGobGuanajuato.Daos.VehiculosWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="accidentesReaderDAO" type="MxGobGuanajuato.Daos.AccidentesReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="accidentesWriterDAO" type="MxGobGuanajuato.Daos.AccidentesWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>
         
         <object id="accidenteCausasReaderDAO" type="MxGobGuanajuato.Daos.AccidenteCausasReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="accidenteCausasWriterDAO" type="MxGobGuanajuato.Daos.AccidenteCausasWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="vehiculosAccidenteReaderDAO" type="MxGobGuanajuato.Daos.VehiculosAccidenteReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="vehiculosAccidenteWriterDAO" type="MxGobGuanajuato.Daos.VehiculosAccidenteWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>

         <object id="involucradosAccidenteReaderDAO" type="MxGobGuanajuato.Daos.InvolucradosAccidenteReaderDAO" singleton="true">
            <constructor-arg name="dbr" ref="dbReaderConfigurer"/>
         </object>

         <object id="involucradosAccidenteWriterDAO" type="MxGobGuanajuato.Daos.InvolucradosAccidenteWriterDAO" singleton="true">
            <constructor-arg name="dbw" ref="dbWriterConfigurer"/>
         </object>
         
         <object id="catMotivosInfraccionFlow" type="MxGobGuanajuato.Flows.CatMotivosInfraccionFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="cmir" ref="catMotivosInfraccionReaderDAO"/>
            <property name="cmiw" ref="catMotivosInfraccionWriterDAO"/>
         </object>

         <object id="motivosInfraccionFlow" type="MxGobGuanajuato.Flows.MotivosInfraccionFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="mir" ref="motivosInfraccionReaderDAO"/>
            <property name="miw" ref="motivosInfraccionWriterDAO"/>
         </object>

         <object id="infraccionesFlow" type="MxGobGuanajuato.Flows.InfraccionesFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="infr" ref="infraccionesReaderDAO"/>
            <property name="infw" ref="infraccionesWriterDAO"/>
         </object>

         <object id="personasInfraccionesFlow" type="MxGobGuanajuato.Flows.PersonasInfraccionesFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="pir" ref="personasInfraccionesReaderDAO"/>
            <property name="piw" ref="personasInfraccionesWriterDAO"/>
         </object>

         <object id="personasFlow" type="MxGobGuanajuato.Flows.PersonasFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="per" ref="personasReaderDAO"/>
            <property name="pew" ref="personasWriterDAO"/>
         </object>

         <object id="personasDireccionesFlow" type="MxGobGuanajuato.Flows.PersonasDireccionesFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="pdr" ref="personasDireccionesReaderDAO"/>
            <property name="pdw" ref="personasDireccionesWriterDAO"/>
         </object>

         <object id="vehiculosFlow" type="MxGobGuanajuato.Flows.VehiculosFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="vr" ref="vehiculosReaderDAO"/>
            <property name="vw" ref="vehiculosWriterDAO"/>
         </object>

         <object id="accidentesFlow" type="MxGobGuanajuato.Flows.AccidentesFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="accr" ref="accidentesReaderDAO"/>
            <property name="accw" ref="accidentesWriterDAO"/>
         </object>

         <object id="accidenteCausasFlow" type="MxGobGuanajuato.Flows.AccidenteCausasFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="accr" ref="accidenteCausasReaderDAO"/>
            <property name="accw" ref="accidenteCausasWriterDAO"/>
         </object>

         <object id="vehiculosAccidenteFlow" type="MxGobGuanajuato.Flows.VehiculosAccidenteFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="vaccr" ref="vehiculosAccidenteReaderDAO"/>
            <property name="vaccw" ref="vehiculosAccidenteWriterDAO"/>
         </object>

         <object id="involucradosAccidenteFlow" type="MxGobGuanajuato.Flows.InvolucradosAccidenteFlow" singleton="true">
            <property name="crr" ref="cadenaRReaderDAO"/>
            <property name="cwr" ref="cadenaWReaderDAO"/>
            <property name="iaccr" ref="involucradosAccidenteReaderDAO"/>
            <property name="iaccw" ref="involucradosAccidenteWriterDAO"/>
         </object>

      </objects>
   </spring>

   
</configuration>